<!DOCTYPE html>
<html>
	<head>
		{% load static %}
		<title>Google Books API </title>

		<link rel="stylesheet" type="text/css" href="{% static 'css/myCss.css' %}">
	</head>
	<body>
		<h1>Book Finder</h1>
		<input id="search" placeholder="Title or Author">
		<button id="button" type="button">Search</button>
		<div id="results"></div>

		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
		<script src="{% static 'js/myJs.js' %}"></script>
	</body>
</html>